extends layout

block content
  .container
    header.conteudoPrincipal-cabecalho
      h1.conteudoPrincipal-titulo Produtos
    main.conteudoPrincipal
      .menu-lista
        button.botao-padrao.botao-addProduto(onclick="mostrarModal('modal-cadastrarProduto')")
          svg.bi.bi-plus-circle-fill(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
            path(d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z')
          |                     Cadastrar Produtos
        form.form-buscarProduto
          .form-campoBusca
            input#buscar-produto.input-busca(type='text' name='' placeholder='Buscar...')
            svg.bi.bi-search(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
              path(d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z')
      table.conteudoPrincipal-tabela
        thead.tabela-cabecalho
          tr
            th Nome do Produto
            th C&oacute;digo
            th Preço de Venda
            th Data de Cadastro
        tbody.tabela-corpo
          each produto in produtos
            tr.tabela-item
              td.item-nome.info-nome
                a(href=produto.url)= produto.nome
              td.item-codigo.info-codigo= produto.codigo
              td.item-codigo= produto.precoVenda
              td.item-codigo= produto.dataCadastro

  #modal-cadastrarProduto.modal-container
    .modal
      button.modal-fechar x
      h2.cabecalho
        | Cadastro de produto
      form.form-cadastroProduto(method='post' action='/produtos')
        label.form-label(for='nome') Nome do produto:
        input#nome.form-input(type='text' name='nome' required='true' value=(undefined===produto ? '' : produto.nome))

        label.form-label(for='codigo') C&oacute;digo Interno:
        input#codigo.form-input(type='text' name='codigo' required='true' value=(undefined===produto ? '' : produto.codigo))
        
        label.form-label(for='precoVenda') Preço de venda:
        input#precoVenda.form-input(type="text" name='precoVenda' required='true' value=(undefined===produto ? '' : produto.precoVenda))
        
        label.form-label(for="dataCadastro") Data de cadastro:
        input#dataCadastro.form-input(type="date" name='dataCadastro' required='true' value=(undefined===produto ? '' : produto.dataCadastro))

        input#botao-gravar.form-botao-gravar(type='submit' value='Cadastrar')

  script(src='/javascripts/buscarProduto.js')
