extends layout

block content
  .container
    header.conteudoPrincipal-cabecalho
      h1.conteudoPrincipal-titulo Detalhes de Produto
    main.conteudoPrincipal
      .produto-detalhes
        h2 #{produto.nome}
        p Codigo Interno: #{produto.codigo}
        p Preço de Venda: R$ #{produto.precoVenda.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' })}
        p Data de Cadastro: #{produto.dataCadastro.toLocaleDateString('pt-Br', { dateStyle: 'short' })}